@model Agro_Mercado.AppMVC.Models.Producto

<h2>Nuevo Producto</h2>

<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="Create" method="post">

    <div class="mb-3">
        <label>Nombre</label>
        <input asp-for="Nombre" class="form-control" />
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label>Categoría</label>
        <select asp-for="CategoriaId" class="form-control"
                asp-items="@(new SelectList(ViewBag.Categorias, "Id", "Nombre"))">
            <option value="">-- Seleccione una categoría --</option>
        </select>
    </div>

    <div class="mb-3">
        <label>Unidad de Medida</label>
        <select asp-for="UnidadMedidaId" class="form-control"
                asp-items="@(new SelectList(ViewBag.Unidades, "Id", "Nombre"))">
            <option value="">-- Seleccione unidad --</option>
        </select>
    </div>

    <div class="mb-3">
        <label>Precio de Venta</label>
        <input asp-for="PrecioVenta" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Precio Compra Promedio</label>
        <input asp-for="PrecioCompraPromedio" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Stock Inicial</label>
        <input asp-for="Stock" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Stock Mínimo</label>
        <input asp-for="StockMinimo" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Activo</label>
        <select asp-for="Activo" class="form-control">
            <option value="true">Activo</option>
            <option value="false">Inactivo</option>
        </select>
    </div>

    <button type="submit" class="btn btn-success">
        Crear
    </button>

    <a asp-action="Index" class="btn btn-secondary">
        Cancelar
    </a>

</form>