@model Agro_Mercado.AppMVC.Models.UnidadMedidum

<h2>Nueva Unidad</h2>

<form asp-action="Create" method="post">

    <div class="mb-3">
        <label asp-for="Nombre" class="form-label"></label>
        <input asp-for="Nombre" class="form-control" />
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Abreviatura" class="form-label"></label>
        <input asp-for="Abreviatura" class="form-control" />
        <span asp-validation-for="Abreviatura" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Tipo" class="form-label"></label>
        <select asp-for="Tipo" class="form-control">
            <option value="">Seleccione...</option>
            <option value="Peso">Peso</option>
            <option value="Cantidad">Cantidad</option>
            <option value="Volumen">Volumen</option>
        </select>
        <span asp-validation-for="Tipo" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-success">Guardar</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>