@model Agro_Mercado.AppMVC.Models.Role

<h2>Nuevo Rol</h2>

<form asp-action="Create" method="post">
    <div class="mb-3">
        <label>Nombre</label>
        <input asp-for="Nombre" class="form-control" />
    </div>

    <button type="submit" class="btn btn-success">Guardar</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>