@model Agro_Mercado.AppMVC.Models.Role

<h2>Editar Rol</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />

    <div class="mb-3">
        <label>Nombre</label>
        <input asp-for="Nombre" class="form-control" />
    </div>

    <button type="submit" class="btn btn-warning">Guardar</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>